/* Write your CSS here */
.details {
  display: flex;
  justify-content: space-between;
}
.details > img {
  width: 200px;
  height: 200px;
}
.latest {
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  color: #ffffff;
}
